<div style="margin-left: 40px" ng-controller="index">
    <div class="row">
        <div class="col-md-8">
            <h1 style="text-align: center">enoladev incident tracking system</h1>
        </div>
    </div>

    <br>

    <div ng-view></div>

</div>